# Prueba del módulo Simulaciones()

In [1]:
from Simulaciones import Simulaciones as sim

In [2]:
fisico = sim(100, 75, 32)

## Recordar que la probabilidad de marcar es 24/75

In [36]:
fisico.mean_salidos()

'La media simulada de que los tableros marquen es 10.69'

In [4]:
fisico.mean_normal()

'La media simulada de que un tablero gane es 19.33'

In [5]:
fisico.prob_mas_1()

'La prob simulada de que ganen dos o más tableros es 0.08'

## Como las probabilidades son independientes, entonces ocurre que

In [4]:
import pandas
cond = pandas.DataFrame({"bolita": list(range(1, 76)), 'prob': fisico.mean_bolita()})
# Se asemeja a 10.4/32 = 24/75
cond

    bolita   prob
0        1  10.24
1        2  10.60
2        3  10.51
3        4  10.51
4        5  10.04
..     ...    ...
70      71  10.10
71      72  10.16
72      73  11.41
73      74  10.30
74      75  10.19

[75 rows x 2 columns]

In [6]:
cond["prob"].mean()

10.24

In [5]:
prueba = pandas.DataFrame(fisico.prob_cond())

In [9]:
prueba

,0,1,2,3,4,5,6,7,8,9,...,64,65,66,67,68,69,70,71,72,73
0,0.33,0.31,0.37,0.31,0.34,0.42,0.31,0.33,0.34,0.40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.29,0.34,0.33,0.30,0.33,0.28,0.38,0.32,0.26,0.27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.29,0.32,0.41,0.26,0.24,0.28,0.27,0.32,0.31,0.41,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.31,0.29,0.30,0.26,0.33,0.34,0.28,0.41,0.33,0.35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.22,0.25,0.29,0.23,0.40,0.21,0.35,0.29,0.27,0.28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,0.29,0.26,0.29,0.19,0.28,0.20,0.19,0.19,0.29,0.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,0.25,0.34,0.24,0.25,0.24,0.30,0.26,0.27,0.24,0.26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,0.24,0.28,0.25,0.27,0.23,0.20,0.18,0.29,0.21,0.26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,0.14,0.23,0.29,0.17,0.22,0.21,0.21,0.28,0.19,0.16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,0.18,0.26,0.22,0.22,0.19,0.33,0.24,0.26,0.21,0.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,0.24,0.20,0.18,0.23,0.25,0.22,0.18,0.18,0.25,0.24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,0.19,0.25,0.22,0.22,0.18,0.23,0.22,0.19,0.22,0.18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,0.18,0.15,0.21,0.23,0.16,0.25,0.21,0.22,0.24,0.21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,0.22,0.15,0.12,0.19,0.21,0.20,0.23,0.14,0.25,0.16,...,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,0.11,0.20,0.18,0.12,0.14,0.13,0.16,0.19,0.16,0.20,...,0.97,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,0.12,0.16,0.13,0.16,0.15,0.07,0.16,0.17,0.12,0.08,...,0.82,0.85,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,0.20,0.18,0.13,0.13,0.08,0.15,0.13,0.12,0.13,0.14,...,0.71,0.84,0.90,1.00,NaN,NaN,NaN,NaN,NaN,NaN
17,0.14,0.14,0.11,0.12,0.11,0.09,0.14,0.07,0.12,0.13,...,0.66,0.69,0.81,0.88,1.00,NaN,NaN,NaN,NaN,NaN
18,0.12,0.12,0.08,0.11,0.11,0.15,0.17,0.10,0.08,0.10,...,0.49,0.57,0.62,0.63,0.87,1.00,NaN,NaN,NaN,NaN
19,0.10,0.06,0.12,0.11,0.08,0.12,0.11,0.09,0.08,0.08,...,0.48,0.53,0.58,0.72,0.71,0.84,1.00,NaN,NaN,NaN
20,0.07,0.10,0.02,0.12,0.04,0.07,0.08,0.08,0.07,0.09,...,0.38,0.29,0.44,0.47,0.51,0.67,0.84,1.00,NaN,NaN
21,0.06,0.02,0.04,0.06,0.04,0.05,0.04,0.08,0.05,0.02,...,0.29,0.38,0.30,0.40,0.46,0.47,0.61,0.80,1.00,NaN
22,0.05,0.04,0.01,0.05,0.03,0.05,0.08,0.03,0.07,0.05,...,0.18,0.20,0.25,0.27,0.33,0.33,0.38,0.45,0.54,1.0

Note la diagonal de unos. Es donde ocurre la condicional obvia. Se puede reemplazar los NaN con 1. También la probabilidad de (0,0), siendo similar (pues es una simulación) la proyectada 32/100

In [7]:
prueba.iloc[13:23, 64:74]

      64    65    66    67    68    69    70    71    72   73
13  1.00   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  NaN
14  0.96  1.00   NaN   NaN   NaN   NaN   NaN   NaN   NaN  NaN
15  0.85  0.88  1.00   NaN   NaN   NaN   NaN   NaN   NaN  NaN
16  0.68  0.82  0.90  1.00   NaN   NaN   NaN   NaN   NaN  NaN
17  0.67  0.70  0.74  0.91  1.00   NaN   NaN   NaN   NaN  NaN
18  0.60  0.64  0.55  0.75  0.86  1.00   NaN   NaN   NaN  NaN
19  0.52  0.56  0.54  0.62  0.69  0.82  1.00   NaN   NaN  NaN
20  0.42  0.42  0.51  0.52  0.66  0.69  0.83  1.00   NaN  NaN
21  0.30  0.37  0.36  0.36  0.39  0.51  0.56  0.80  1.00  NaN
22  0.17  0.18  0.25  0.27  0.29  0.33  0.49  0.44  0.61  1.0

## Comparaciones con mean_normal()

In [47]:
fisico.mean_especifico(["Horizontal", "Vertical"])

'La media simulada de que un tablero gane es 22.06'

In [48]:
fisico.mean_especifico(["Full"])

'La media simulada de que un tablero gane es 65.82'

In [49]:
fisico.mean_especifico(["H"])

'La media simulada de que un tablero gane es 56.82'

In [50]:
fisico.mean_especifico(["I"])

'La media simulada de que un tablero gane es 56.0'

In [51]:
fisico.mean_especifico(["H", "I"])

'La media simulada de que un tablero gane es 53.34'

In [52]:
fisico.mean_especifico(["Z"])

'La media simulada de que un tablero gane es 55.72'

In [53]:
fisico.mean_especifico(["N"])

'La media simulada de que un tablero gane es 57.4'

In [54]:
fisico.mean_especifico(["Z", "N"])

'La media simulada de que un tablero gane es 53.94'

In [55]:
fisico.mean_especifico(["O"])

'La media simulada de que un tablero gane es 61.15'

In [56]:
fisico.mean_especifico(["X"])

'La media simulada de que un tablero gane es 48.38'

In [57]:
fisico.mean_especifico(["O", "X"])

'La media simulada de que un tablero gane es 46.47'

In [58]:
fisico.mean_especifico(["T"])

'La media simulada de que un tablero gane es 48.84'